name: Update Cloudflare IPs

on:
  schedule:
    - cron: '*/10 * * * *'  # 每天 00:00 UTC 执行一次脚本（相当于北京时间 08:00）
  workflow_dispatch:  # 允许手动触发工作流

jobs:
  update-ip:
    runs-on: ubuntu-latest  # 使用 GitHub 提供的最新 Ubuntu 环境

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3  # 克隆仓库

    - name: Give executable permission to the script
      run: chmod +x ./scripts/updatecloudflareIP.sh  # 给脚本添加可执行权限

    - name: Update Cloudflare IPs
      run: ./scripts/updatecloudflareIP.sh  # 执行脚本

    - name: Commit and push updated IP file
      run: |
        git config --global user.name "feiyang"  # 配置 git 用户名
        git config --global user.email "feiyang991128@gmail.com"  # 配置 git 邮箱
        git add cloudflareip.txt  # 将修改的文件添加到暂存区
        git commit -m "Update Cloudflare IP ranges" || echo "No changes to commit"  # 提交修改，若没有更改则跳过
        git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:${{ github.ref }}  # 使用 GITHUB_TOKEN 进行认证推送
