name: Update Cloudflare IPs

on:
  schedule:
    - cron: '0 0 * * *'  # 每天 00:00 UTC 执行一次脚本
  workflow_dispatch:  # 允许手动触发工作流

jobs:
  update-ip:
    runs-on: ubuntu-latest  # 使用 GitHub 提供的最新 Ubuntu 环境

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3  # 克隆仓库

    - name: Give executable permission to the script
      run: chmod +x ./update-cloudflare-ip.sh  # 给脚本添加可执行权限

    - name: update CloudflareIP
      run: ./update-cloudflare-ip.sh  # 执行脚本

    - name: Commit and push updated IP file
      run: |
        git config --global user.name "GitHub Actions"  # 配置 git 用户名
        git config --global user.email "actions@github.com"  # 配置 git 邮箱
        git add cloudflareip.txt  # 将修改的文件添加到暂存区
        git commit -m "Update Cloudflare IP ranges"  # 提交修改
        git push  # 推送更改到远程仓库
